@use "./variables" as mixin;

.container {
  background-color: mixin.$purple;
  color: mixin.$white;
  width: 100%;
  border: 1px solid transparent;
}
.body {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.left {
  display: flex;
  flex-direction: column;
  width: 23rem;
  min-height: 10rem;
  margin: 1rem auto;
}

.right {
  width: 23rem;
  min-height: 15rem;
  margin: 1rem auto;
}

@include mixin.tablet() {
  .body {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 50rem;
    margin: 1rem auto;
  }
}
