.container {
  color: #fffffe;
  background-color: #232946;
  height: calc(150vh - 100px);
}

.container .sectionone {
  display: flex;
  margin: 0 auto;
  width: calc(100vw - 20rem);
  height: calc(100vh - 100px);
}
.sectionone h2 {
  margin-top: 13rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.sectionone h1 {
  color: #b8c1ec;
}

.photo {
  left: 20%;
  clip-path: circle();
  scale: 80%;
  margin-left: 8rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  transform: translate(115px, -50px);
  width: 4.5rem;
  scale: 250%;
}
