@use "../styles/variables" as mixin;

.card {
  background-color: mixin.$purple;
  color: mixin.$white;
  min-width: 20rem;
  min-height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
}

.icon {
  font-size: 1.8rem;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}
