@use "../styles/variables" as mixin;
.navbar {
  width: 100%;
  background-color: mixin.$purple;
  min-height: 7rem;
  font-weight: bold;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.transparent {
  width: 100%;
  background-color: transparent;
  min-height: 7rem;
  font-weight: bold;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.rightside {
  position: relative;
  margin: mixin.$homemargin;
  max-width: mixin.$homewidth;
}

.icon {
  position: absolute;
  top: 40%;
  right: 5%;
  color: mixin.$white;
}

.burgermenu:hover {
  cursor: pointer;
  box-shadow: 0 0 6px black;
}

.burgermenu:active {
  transition: 0.05s;
  transform: translateY(2px);
}

.links {
  display: none;
}

.hidden {
  width: 100%;
  background-color: mixin.$purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.trans {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.hidden a,
.trans a {
  text-decoration: none;
  margin: 0.5rem;
  color: mixin.$white;
}

.hidden a:hover,
.trans a:hover {
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: mixin.$white;
  margin-left: 2rem;
  font-size: 1.1rem;
}

.links a:hover {
  text-decoration: none;
  color: mixin.$lilac;
}

@include mixin.largerThanPhone() {
  .rightside {
    display: flex;
    flex: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    max-width: 85rem;
  }
  .burgermenu {
    display: none;
  }
  .links {
    display: flex;
    margin-right: 3rem;
  }
  .hidden {
    display: none;
  }
  .hidden a {
    display: none;
  }
}

@include mixin.tablet() {
  .links a {
    text-decoration: none;
    color: mixin.$white;
    margin-left: 2rem;
    font-size: 1.1rem;
  }
  .links a:hover {
    text-decoration: none;
    color: mixin.$lilac;
  }

  // .leftside {
  //   flex: 50%;
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   margin-right: 1.25rem;
  // }

  // .leftside input {
  //   height: 1.4rem;
  //   border: none;
  //   border-radius: 0.2rem;
  //   font-size: 0.8rem;
  // }

  // .leftside button {
  //   height: 1.5rem;
  //   border: 0.1rem solid black;
  //   border-radius: 0.2rem;
  //   padding: 0.2rem 0.3rem;
  // }

  button:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
  }

  .icon {
    display: none;
  }
}
